[Unit]
Description=<Resolution Sockets Serveur For Ricochet Robot App>

[Service]
User=ricochet
WorkingDirectory=/home/ricochet/
ExecStart=/home/ricochet/buildServeur/RicochetSocketServer.exe
# optional items below
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
